In [1]:
from database_define import *
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

from partsTracker.functions import shortagelist

engine = create_engine('sqlite:///partsTrackerAlchemy.db')

#metadata = Base.metadata
Session = sessionmaker(bind=engine)
s = Session()
from sqlalchemy import func

import pandas as pd

New engine programs create a lot of new part numbers that all need drawings and eventually hardware. The companies that create these new engines have large databases that they use to run their business, but these databases aren't usually a good solution for R&D engines.

In [2]:
results = s.query(Parts).filter(Parts.pn == '3033067')

In [4]:
partsIneed = s.query(PartsList).group_by(PartsList.pn).all()

In [2]:
pd.read_sql_table('Parts','sqlite:///partsTrackerAlchemy.db')

         pn             Name  Weight  qty
0   3033072  4th Stage Blisk     NaN    0
1   3033067  1st Stage Blisk     NaN    0
2  AS478-10             Bolt     NaN    5
3      AN10              Nut     NaN    1

In [3]:
pd.read_sql_table("PartsList",'sqlite:///partsTrackerAlchemy.db')

   fn        pn  qty
0   1   3033072    1
1   2   3033067    1
2   3  AS478-10   10
3   4      AN10   10
4   5  AS478-10    4

In [6]:
shortagelist()

         pn  qty  Total_Required
0   3033067    0               1
1   3033072    0               1
2      AN10    1              10
3  AS478-10    5              14