In [1]:
from database_define import *
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

engine = create_engine('sqlite:///partsTrackerAlchemy.db')

#metadata = Base.metadata
Session = sessionmaker(bind=engine)
s = Session()

In [2]:
import pandas as pd

# Try a Result

In [3]:
results = s.query(Parts).filter(Parts.pn == '3033067')

In [4]:
partsIneed = s.query(PartsList).group_by(PartsList.pn).all()

In [5]:
partsIneed[0].pn

'3033067'

In [6]:
pd.read_sql_table('Parts','sqlite:///partsTrackerAlchemy.db')

         pn             Name  Weight  qty
0   3033072  4th Stage Blisk     NaN    0
1   3033067  1st Stage Blisk     NaN    0
2  AS478-10             Bolt     NaN    5
3      AN10              Nut     NaN    1